openapi: 3.1.0
info:
  title: World News Geo Sources API
  description: 'The World News API provides access to thousands of news sources in over

    90 languages from 228+ countries with semantic tagging. This minimal

    OpenAPI definition documents the public REST endpoints listed in the

    World News API documentation.

    '
  version: '1.0'
  contact:
    name: World News API
    url: https://worldnewsapi.com/docs/
servers:
- url: https://api.worldnewsapi.com
  description: World News API base URL
security:
- apiKeyAuth: []
tags:
- name: Sources
paths:
  /search-news-sources:
    get:
      tags:
      - Sources
      summary: Search News Sources
      description: Search news sources / publishers.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /suggest-news-source:
    post:
      tags:
      - Sources
      summary: Suggest News Source
      description: Suggest a new news source for inclusion in the index.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /feed.rss:
    get:
      tags:
      - Sources
      summary: Website to RSS Feed
      description: Convert any website to an RSS feed.
      responses:
        '200':
          description: Successful response
          content:
            application/rss+xml:
              schema:
                type: string
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api-key
x-generated-from: https://worldnewsapi.com/docs/
x-generated-by: claude-crawl-2026-05-08
